body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  background: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*#region header*/
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header .logo-part {
  color: #2e2f42;
}

.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
  font-style: normal;
  color: #434455;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion header*/

/*#region hero*/
.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: 1440px;
  background-color: #2e2f42;
}

.title-hero {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #fff;
}

.button-hero {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/*#endregion hero*/

/*#region our-benefits*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.list-benefits .list-title {
  margin-bottom: 8px;
}

.item-benefits {
  width: calc((100% - 72px) / 4);
}

.benefits-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}

/*#endregion our-benefits*/

/*застосовується у benefits, our team, our portfolio*/
.list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

/*#region our-team*/
.section-team {
  background-color: #f4f4fd;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;
}

.item-list-team {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  width: calc((100% - 72px) / 4);

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-team-content {
  padding: 32px 16px;
  text-align: center;
  background-color: #fff;
}

.list-team-socials {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.link-socials {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-socials:hover,
.link-socials:focus {
  background-color: #404bbf;
}

.svg-socials {
  fill: #f4f4fd;
}

/*#endregion our-team*/

/*#region our-portfolio*/
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.item-list-prtfl {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-prtfl:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  overflow: hidden;
  text-align: left;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;

  padding: 40px 32px 164px 32px;
  color: #f4f4fd;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-prtfl:hover .overlay-text {
  transform: translateY(0);
}

/*#endregion our-portfolio*/

/*#region footer*/
.section-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer .logo-part {
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.text-footer {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-left: 120px;
}

.text-footer.social {
  font-weight: 500;
  margin-bottom: 16px;
}

footer .link-socials:hover {
  background-color: #31d0aa;
}
/*#endregion footer*/

.modal-overlay {
  border-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-color: #fcfcfc;

  width: 408px;
  height: 584px;

  text-align: center;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
}

.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: #fff;
}

.modal-text {
  padding-top: 72px;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;

  margin-bottom: 16px;
}

.form-modal {
  padding: 0 24px 24px 24px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  align-items: flex-start;

  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin: 0 auto 8px;
  padding-left: 38px;
}
